<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Teste</title>
    <header>
        <h2>Nome do Sistema</h2>
    </header>
    <nav>
        <ul>
            <li><a href="index.hmtl">Index</a></li>
            <li><a href="fornecedor/list.hmtl">Fornecedor/list</a></li>
        </ul>
    </nav>
</head>
<body>
    <div id="container">
        <table>
            <tr>
                <td>Atributos</td>
            </tr>

            <tr>
                <td>Teste 1</td>
                <td>Teste 2</td>
            </tr>

            <tr>
                <td>Matheus Inocencio</td>
            </tr>
        </table>
    </div>
    
</body>
</html>