* {
    margin: 0;
    padding: 0;
}

#Header {
    background-color: #ffda97;
}

#Primeiro {
    text-align: center;
    position: flex;
}

#Logo{
    width: 20%;
    height: 20%;
}

#Titulo {
    font-size: 50px;
}

#Sorvete {
    height: 550px;
    width: 100%;
}

#Terceiro {
    background-color: #FFE8BC;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    width: 100%;
}

#Melhor {
    font-size: 25px;
}

#Quarto {
    padding: 20px;
    text-align: center;
    margin: 10px;
}

#Tudo {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

#Foot {
    background-color: #FFE8BC;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}